mixin list(val)
	- var lists = [];
	- lists.push({link: "index", text: "HOME"});
	- lists.push({link: "cube/cube01", text: "cube01"});
	- lists.push({link: "cube/cube02", text: "cube02"});
	- lists.push({link: "cube/cube03", text: "cube03"});
	- lists.push({link: "line/line01", text: "line01"});
	- lists.push({link: "line/line02", text: "line02"});
	- lists.push({link: "line/line03", text: "line03"});
	- lists.push({link: "circle/circle01", text: "circle01"});
	- lists.push({link: "circle/circle02", text: "circle02"});
	- lists.push({link: "demo/circle2d-animation", text: "DEMO: circle2d-animation"});
	- lists.push({link: "demo/buffer-geometry", text: "DEMO: buffer-geometry"});

	ul
		- for (var i = 0; i < lists.length; i++)
			if val === 0
				li: a(href="./#{lists[i].link}.html") #{lists[i].text}
			else if val === 1
				li: a(href="../#{lists[i].link}.html") #{lists[i].text}
			else if val === 2
				li: a(href="../../#{lists[i].link}.html") #{lists[i].text}
			else
				li: a(href="../../../#{lists[i].link}.html") #{lists[i].text}
